{% extends "post/admin_base.html" %}

{% block body %}

<!-- Edit Role Dialog -->
<legend class="text-muted">
  <a href="{{p.url}}/role"><<</a>&nbsp;&nbsp;
  {{p.role.name}} - <small>edit role</small>
</legend>

<form class="form-horizontal" action="{{p.url}}/role/edit/{{p.role.id}}" method="post">

  <div class="form-group">
    <label class="col-lg-2 control-label">Name</label>
    <div class="col-lg-10">
      <input class="form-control" type="text" readonly="1" value="{{p.role.name}}" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">Assigned Users</label>
    <div class="col-lg-10">
      {{select_multi.render("users", "users", p.role.users,
        is_tags="true", ajax="/people?json=1")}}
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

</form>
{% endblock %}
