{% extends "mercurial/base.html" %}

{% block title %}{{p.title}}{% endblock %}
{% block body %}
<form method="POST" action="{{p.url}}/view/{{p.hg.filename}}">
  <table class="table table-hover table-responsive">
    <tr>
      <td>
          <div class="col-sm-2 text-right">
              <b>filepath</b>
          </div>
          <div class="col-sm-10">
              {{p.hg.filepath}}
          </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="col-sm-2 text-right">
            <b>status</b>
        </div>
        <div class="col-sm-2">
          {% if p.hg.log.status == "M" %}
            <span class="text-danger"><b>Modified</b></span>
          {% elif p.hg.log.status == "" %}
            <span class="text-success"><b>Up to date</b></span>
          {% else %}
            {{p.hg.log.status}}
          {% endif %}
        </div>
        <div class="col-sm-2 text-right">
            <b>last commit</b>
        </div>
        <div class="col-sm-6">
          <small>{{p.hg.log.updated|string|dt}}, </small>  {{p.hg.log.updated_by}}
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <textarea name="content" id="content">{{p.hg.content|safe}}</textarea>
        <div id="editor_content" style="min-height: 500px"></div>
        <script>
            var editor_content = ace.edit("editor_content");
            editor_content.setTheme("ace/theme/monokai");
            editor_content.getSession().setMode("ace/mode/python");
            var textarea_content = $('#content').hide();
            editor_content.getSession().setValue(textarea_content.val());
            editor_content.getSession().on('change', function(){
              textarea_content.val(editor_content.getSession().getValue());
            });
            editor_content.commands.addCommand({
              name: 'saveFile',
              bindKey: { win: 'Ctrl-S', mac: 'Command-S', sender: 'editor|cli' },
              exec: function(env, args, request) { form.submit(); }
            });
        </script>

      </td>
    </tr>
  </table>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="button" class="btn btn-primary"
          onclick="location='{{p.url}}/list'">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
      </button>
      <button type="submit" class="btn btn-danger">
        Save
      </button>
    </div>
  </div>
</form>
{% endblock %}
