{% extends "post/base.html" %}
{% import "post/widget/Input.html" as Input %}
{% import "post/widget/Filter.html" as Filter %}
{% import "post/widget/View.html" as View %}

{% block PostBody %}
<div class="row">
  <div class="col-lg-12">
    <table class="table table-stripped table-hover">
      <thead>
        <tr>
          <th>field</th>
          <th>from</th>
          <th>to</th>
          <th>when</th>
          <th>whom</th>
        </tr>
      </thead>
    {% for h in p.History %}
    <tr>
      <td>{{h.field}}</td>
      <td>{{h.from_value|safe}}</td>
      <td>{{h.to_value|safe}}</td>
      <td>{{h.created}}</td>
      <td>{{h.created_by}}</td>
    </tr>
    {% endfor %}
    <table>
  </div>
</div>
{% endblock %}
