{% extends "base.html" %}

{% block content %}
<div class = "page-header">
   <h2>Dashboard Administration</h2>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <strong>Configuration</strong>
        </h4>
      </div>
      <ul class="list-group">

        <a href="{{p.url}}/edit" class="list-group-item
          {% if p.operation == 'edit' %}list-group-item-info{% endif -%}">
          Edit Dashboard</a>

        <a href="{{p.url}}/permission" class="list-group-item
          {% if p.operation == 'permission' %}list-group-item-info{% endif -%}">
          Permission</a>

      </ul>
    </div>


  </div>

  <div class="col-lg-9 col-md-9">
    {% block body %}{% endblock %}
  </div>

</div>
{% endblock %}
