{% extends "base.html" %}

{% block content %}
<!-- CONTENT HEADER -->
<div class="page-header">
  <h2>Empty Dashboard</h2>
</div>

<div class="row">
  <div class="col-lg-3 col-md-3">

    <!-- Search Box -->
    <form id="searchform" action="/search">
      <div class="input-group custom-search-form">
        <input type="text" class="form-control" placeholder="Search" id="q" name="q">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </form>

  </div> <!-- col-lg-3 -->

  <div class="col-lg-9 col-md-9">
    <a href="{{p.url}}/edit">Go to edit page to build dashboard</a>
  </div> <!-- col-lg-9 -->

</div> <!-- row -->

{% endblock %}
