{% extends "post/admin_base.html" %}

{% block body %}
<form class="form-horizontal" method="post">
  <div class="form-group">
    <label class="col-lg-2 control-label">Field Mapping</label>
    <div class="col-lg-10">
      <textarea class="form-control" rows="15" readonly="1">{{p.mapping}}</textarea>
      <span class="help-block">Field mapping is elasticsearch index structure.
        Look-up elasticsearch mapping before updating this information.
        Please, remember that once the field is created then you can't change the property.
      </span>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-2 control-label">New Mapping</label>
    <div class="col-lg-10">
      <textarea class="form-control" rows="5" name="mapping" placeholder="place your field mapping"></textarea>
      <span class="help-block">
        Following example makes message field as string type <br>
        "message": { "type": "string"  }
      </span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Add Field Mapping</button>
    </div>
  </div>
</form>
{% endblock %}
