{% extends "post/admin_base.html" %}

{% block body %}
<form class="form-horizontal" method="POST" id=form>
  <legend class="text-muted">Edit Field - {{p.field.id}}</legend>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Fields</a></li>
    <li><a data-toggle="tab" href="#menu1">List Template</a></li>
    <li><a data-toggle="tab" href="#menu2">View Template</a></li>
    <li><a data-toggle="tab" href="#menu3">Edit Template</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">

      <br>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Is Filter</label>
        <div class="col-lg-4 col-md-4">
          <select name="is_filter">
            <option {%if p.field.is_filter == "0" or not p.field.is_filter %}selected="1"{%endif%} value="0">No</option>
            <option {%if p.field.is_filter == "1" %}selected="1"{%endif%} value="1">Yes</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Filter Field</label>
        <div class="col-lg-10 col-md-10">
          <input class="form-control" type="text" name="filter_field"
            placeholder="title.raw - default filter id" value="{{p.field.filter_field}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Handler</label>
        <div class="col-lg-4 col-md-4">
          <select name="handler">
            <option  {%if not p.field.handler %} selected="1" {%endif%} value=''>single value</option>
            <option  {%if p.field.handler == "multiple" %} selected="1" {%endif%} value='multiple'>multiple value</option>
            <option  {%if p.field.handler == "file" %} selected="1" {%endif%} value='file'>file</option>
            <option  {%if p.field.handler == "object" %} selected="1" {%endif%} value='object'>object</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Name</label>
        <div class="col-lg-10 col-md-10">
          <input class="form-control" type="text" name="name"
            placeholder="Display Name of the post module" value="{{p.field.name}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">field id</label>
        <div class="col-lg-10 col-md-10">
          <input class="form-control" type="text" readonly="1" value="{{p.field.id}}" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Visible</label>
        <div class="col-lg-10 col-md-10">
            {{select_multi.render('visible', 'visible', p.field.visible,
                options=['create', 'edit', 'view', 'list'])}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Order Key</label>
        <div class="col-lg-10 col-md-10">
          <input class="form-control" type="text" name="order_key"
            placeholder="100" value="{{p.field.order_key}}" />
        </div>
      </div>

    </div>


    <div id="menu1" class="tab-pane fade">

      <textarea name="list_tpl" id="list_tpl">{{p.field.list_tpl}}</textarea>
      <div id="editor_list_tpl" style="min-height: 400px"></div>
      <script>
          var editor_list_tpl = ace.edit("editor_list_tpl");
          editor_list_tpl.setTheme("ace/theme/monokai");
          editor_list_tpl.getSession().setMode("ace/mode/html");
          var textarea_list_tpl = $('#list_tpl').hide();
          editor_list_tpl.getSession().setValue(textarea_list_tpl.val());
          editor_list_tpl.getSession().on('change', function(){
            textarea_list_tpl.val(editor_list_tpl.getSession().getValue());
          });
          editor_list_tpl.commands.addCommand({
            name: 'saveFile',
            bindKey: { win: 'Ctrl-S', mac: 'Command-S', sender: 'editor|cli' },
            exec: function(env, args, request) { form.submit(); }
          });
      </script>
      <span class="help-block">how your item appears in the list</span>

    </div>


    <div id="menu2" class="tab-pane fade">

      <textarea name="view_tpl" id="view_tpl">{{p.field.view_tpl}}</textarea>
      <div id="editor_view_tpl" style="min-height: 400px"></div>
      <script>
          var editor_view_tpl = ace.edit("editor_view_tpl");
          editor_view_tpl.setTheme("ace/theme/monokai");
          editor_view_tpl.getSession().setMode("ace/mode/html");
          var textarea_view_tpl = $('#view_tpl').hide();
          editor_view_tpl.getSession().setValue(textarea_view_tpl.val());
          editor_view_tpl.getSession().on('change', function(){
            textarea_view_tpl.val(editor_view_tpl.getSession().getValue());
          });
          editor_view_tpl.commands.addCommand({
            name: 'saveFile',
            bindKey: { win: 'Ctrl-S', mac: 'Command-S', sender: 'editor|cli' },
            exec: function(env, args, request) { form.submit(); }
          });
      </script>
      <span class="help-block">how your item appears in the view page</span>

    </div>



    <div id="menu3" class="tab-pane fade">


      <textarea name="edit_tpl" id="edit_tpl">{{p.field.edit_tpl}}</textarea>
      <div id="editor_edit_tpl" style="min-height: 400px"></div>
      <script>
          var editor_edit_tpl = ace.edit("editor_edit_tpl");
          editor_edit_tpl.setTheme("ace/theme/monokai");
          editor_edit_tpl.getSession().setMode("ace/mode/html");
          var textarea_edit_tpl = $('#edit_tpl').hide();
          editor_edit_tpl.getSession().setValue(textarea_edit_tpl.val());
          editor_edit_tpl.getSession().on('change', function(){
            textarea_edit_tpl.val(editor_edit_tpl.getSession().getValue());
          });
          editor_edit_tpl.commands.addCommand({
            name: 'saveFile',
            bindKey: { win: 'Ctrl-S', mac: 'Command-S', sender: 'editor|cli' },
            exec: function(env, args, request) { form.submit(); }
          });
      </script>
      <span class="help-block">how your item appears in the edit page</span>


    </div>


  </div>




  <hr>
  <div class="form-group">
    <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
      <button type="button" class="btn btn-primary"
        onclick="location='{{p.url}}/field'">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
      </button>
      <button type="submit" class="btn btn-danger">Save</button>
    </div>
  </div>
</form>
{% endblock %}
