{% extends "post/admin_base.html" %}

{% block body %}
<form class="form-horizontal" method="post">
  <legend class="text-muted">Notification Messages</legend>

  <div class="col-lg-12 text-right">
    <a href="{{p.url}}/notification/create" title="new">
      <button type="button" class="btn btn-xs btn-danger">
        <span class="glyphicon glyphicon-plus"></span> New Notification
      </button>
    </a>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>message title</th>
        <th>workflow</th>
        <th>recipients</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for notification in p.notification_list %}
      <tr>
        <td><a href="{{p.url}}/notification/edit/{{notification.id}}">#</a></td>
        <td><a href="{{p.url}}/notification/edit/{{notification.id}}">{{notification.header}}</a></td>
        <td>{{notification.workflow}}</td>
        <td>{{notification.recipients|getlist|join(', ')}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle btn-mini btn-primary btn-xs" data-toggle="dropdown">
              Action<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="{{p.url}}/notification/edit/{{notification.id}}">Edit</a></li>
              <li class="divider"></li>
              <li><a href="#modal-notification-del-{{notification.id}}" data-toggle="modal">Delete</a></li>
            </ul>
          </div>
          <!-- Delete notification dialog -->
          <form class="form-horizontal" action="{{p.url}}/notification/delete/{{notification.id}}" method="post">
            <div id="modal-notification-del-{{notification.id}}" class="modal fade">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4>Confirm Delete Navigation</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure you want to <span class="text-error">DELETE</span> the notificatio?</p>
                    <p>Deleting notification: <strong>{{notification.header}}</strong></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Delete Notification</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

{% endblock %}
