{% extends "post/base.html" %}

{% block body %}

{% if p.debug %}
<textarea style="visibility:hidden; display: None">
[[Search Query]]
{{p.search_query|prettyjson|safe}}

[[Response]]
{{p.response|prettyjson|safe}}
</textarea>
{% endif %}

<div class="row">
  <div class="col-sm-9">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <legend class="bg-info">&nbsp;
            <strong>{{p.c.name}}</strong>
        </legend>

        {% block search_result %}
        {% endblock %}
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    {% include 'post/search/part/search.html' %}
  </div>
</div>

{% endblock %}
