{% extends "admin/base.html" %}

{% block body %}
<!-- BREAD CRUMB -->
<ol class="breadcrumb" style="margin-bottom: 5px;">
  <li><a href="{{p.url}}"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="{{p.url}}?mode=site">Sites</a></li>
</ol>
<br>

{%if p.message%}<div class="alert alert-danger">{{p.message}}</div>{%endif%}

<legend>Site List</legend>
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Display</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for site in p.site_list %}
      <tr>
        <td><a href="#modal-edit-{{site.id}}" data-toggle="modal">#</a></td>
        <td><a href="#modal-edit-{{site.id}}" data-toggle="modal">{{ site.name }}</a></td>
        <td>{{ site.display_name }}</td>
        <td>{{ site.description }}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn dropdown-toggle btn-mini btn-primary btn-xs" data-toggle="dropdown">
              Action<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#modal-edit-{{site.id}}" data-toggle="modal">General Inforamtion</a></li>
              <li class="divider"></li>
              <li><a href="/admin/nav?site_id={{site.id}}">Manage Navigation</a></li>
              <li><a href="/admin/customize?site_id={{site.id}}">Customize Navigation</a></li>
              <li class="divider"></li>
              <li><a href="/admin/role?site_id={{site.id}}">Manage Roles</a></li>
              <li class="divider"></li>
              <li><a href="#modal-del-{{site.id}}" data-toggle="modal">Delete</a></li>
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<div class="col-lg-12 text-right">
  <a href="#" data-target="#modal-new-site" data-toggle="modal" title="add new site">
    <button type="button" class="btn btn-xs btn-danger">
      <span class="glyphicon glyphicon-plus"></span>&nbsp;New Site
    </button>
  </a>
</div>


<!-- NEW SITE DIALOG -->
<form class="form-horizontal" action="{{ p.url }}/site/create" method="POST">
<div id="modal-new-site" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create New Site</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-lg-2 control-label">Name</label>
          <div class="col-lg-10">
            <input class="form-control" type="text" name="name"
              placeholder="Site name is used in URL" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Display Name</label>
          <div class="col-lg-10">
            <input class="form-control" type="text" name="display_name"
              placeholder="Site name is used in URL" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 control-label">Description</label>
          <div class="col-lg-10">
            <textarea class="form-control" rows="2"
              name="description" placeholder="Description"></textarea>
          </div>
        </div>
        <!-- is_displayed -->
        <div class="form-group">
          <label class="col-lg-3 control-label">Visible</label>
          <div class="col-lg-9">
            {{select.render("is_displayed", "is_displayed_new_site",
              [{"id":"1", "name":"Yes"}, {"id":"0", "name":"No"}] )}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create New Site</button>
      </div>
    </div>
  </div>
</div>
</form>


{% for site in p.site_list %}
<!-- Edit Site Dialog -->
<form class="form-horizontal" action="{{ p.url }}/site/edit/{{ site.id }}" method="post">
  <div id="modal-edit-{{ site.id }}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Site</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input class="form-control" type="text" name="name"
                placeholder="Site name is used in URL"
                value="{{ site.name }}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Display Name</label>
            <div class="col-lg-10">
              <input class="form-control" type="text" name="display_name"
                placeholder="Site name is used in URL"
                value="{{ site.display_name }}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-2 control-label">Description</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="2"
                name="description" placeholder="Description"
                >{{ site.description }}</textarea>
            </div>
          </div>
          <!-- is_displayed -->
          <div class="form-group">
            <label class="col-lg-2 control-label">Visible</label>
            <div class="col-lg-10">
              {{select.render("is_displayed", "is_displayed_edit_site",
                [{"id":"1", "name":"Yes"}, {"id":"0", "name":"No"}] )}}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Delete Site Dialog -->
<form class="form-horizontal" action="{{ p.url }}/site/delete/{{ site.id }}" method="post">
  <div id="modal-del-{{ site.id }}" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Site</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the site?</p>
          <p>Site: <strong>{{ site.display_name }}</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="submit" class="btn btn-warning">Delete Site</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endfor %}


{% endblock %}
