{% import "widget/select.html" as select %}
{% import "widget/select_multi.html" as select_multi %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{p.title}} - {{p.navigation.display_name}}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- jquery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <!-- jquery-ui -->
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/blitzer/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- select2 -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <!-- ace -->
    <script type="text/javascript" src="/static/ace/ace.js"></script>

    {% if p.script %}{{p.script|safe}}{% endif %}
    {% block head %}{% endblock %}
</head>

<body>
  {% block navigation %}
    {%- if p.site.navigation -%}
      {{p.site.navigation|safe}}
    {%- else -%}
    <style>
      body {
        padding-top: 50px;
      }
    </style>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/{{p.site.name}}"
            title="{{p.site.description}}">{{p.site.display_name}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          {%- for nav in p.nav_list -%}
            {%- if nav.children|length > 0 -%}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">{{nav.display_name}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {%- for child in nav.children -%}
                <li {%- if child.id == p.navigation.id %} class="active" {% endif -%}
                  ><a href="{%-if p.site.name-%}/{{p.site.name}}{%-endif-%}/{{child.name}}"
                    {%- if nav.new_window == "1" %} target=_blank {% endif -%} >
                  {{child.display_name}}</a></li>
                {%- endfor -%}
              </ul>
            </li>
            {%- else -%}
            <li {%- if nav.id == p.navigation.id %} class="active" {% endif -%}
              ><a href="{%-if p.site.name-%}/{{p.site.name}}{%-endif-%}/{{nav.name}}"
                {%- if nav.new_window == "1" %} target=_blank {% endif -%}
              >
              {{nav.display_name}}</a></li>
            {%- endif -%}

          {%- endfor -%}

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/people/post/view/{{p.login}}" title="logout">{{p.login}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

    </nav>
    {%- endif -%}
  {% endblock %}

  <!-- page Content -->
  <div class="container">
    {% block content %}{% endblock %}
    <hr>
    <div class="row">
      <div class="col-lg-12">
        <p class="text-muted text-right">
        {%if p.login %}
          Logged in as <a href="/auth/logout?url={{p.url}}" title="logout">{{ p.login }}</a>
        {%endif%}</p>
      </div>
    </div>
  </div>
  <!-- /#page Content -->

  <br><br>
</body>
</html>
