{% import "widget/select.html" as select %}
{% import "widget/select_multi.html" as select_multi %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{p.title}} - {{p.navigation.display_name}}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />

    <!-- jquery -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.3.min.js"></script>
    <!-- jquery-ui -->
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/blitzer/jquery-ui.css">
    <script type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- font awesome -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <!-- select2 -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
    <!-- ace -->
    <script type="text/javascript" src="/static/ace/ace.js"></script>

    {% if p.script %}{{p.script|safe}}{% endif %}
    {% block head %}{% endblock %}
</head>

<body>
  {% block navigation %}
    {%- if p.site.navigation -%}
      {{p.site.navigation|safe}}
    {%- else -%}
      {% include "navigation/default.html" %}
    {%- endif -%}
  {% endblock %}

  <!-- page Content -->
  <div class="container">
    <br>
    {% block content %}{% endblock %}
  </div>
  <!-- /#page Content -->
  <br><br>
</body>
</html>
