{% extends "admin/base.html" %}

{% block body %}
<div class="row">
  <div class="col-lg-12">

    <form class="form-horizontal" method="post">
      <legend>Site Security Configuration</legend>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Admin User</label>
        <div class="col-lg-10 col-md-10">
          {{select_multi.render(
            "admins",
            "admins",
            p.conf.admins,
            ajax="/people?json=1"
          )}}
          <span class="help-block">
            Select administration user. Administration user will have unlimited access to the system.
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 col-md-2 control-label">Safe Network</label>
        <div class="col-lg-10 col-md-10">
          {{select_multi.render("safe_network", "safe_network", p.conf.safe_network)}}
          <span class="help-block">
            Specify network filter to allow automatic guest access.
            For example, if specified "10.10" those ip starts with "10.10" will be granted automatic access as guest
          </span>
        </div>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 col-lg-offset-2 col-md-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>

  </div>
</div>



{% endblock %}
