{% extends "post/admin_base.html" %}

{% block body %}

{%if p.message%}<div class="alert alert-danger">{{p.message}}</div>{%endif%}

<form class="form-horizontal" method="post" enctype="multipart/form-data" id=form>
  <legend class="text-muted">Search Item Render</legend>

  <div class="form-group">
    <label class="col-lg-2 control-label">Template</label>
    <div class="col-lg-10">
      <textarea name="search_item_template" id="search_item_template">{{p.search_item_template}}</textarea>
      <div id="editor_template" style="min-height: 400px"></div>
      <script>
          var editor_template = ace.edit("editor_template");
          editor_template.setTheme("ace/theme/monokai");
          editor_template.getSession().setMode("ace/mode/html");
          var textarea_template = $('#search_item_template').hide();
          editor_template.getSession().setValue(textarea_template.val());
          editor_template.getSession().on('change', function(){
            textarea_template.val(editor_template.getSession().getValue());
          });
          editor_template.commands.addCommand({
            name: 'saveFile',
            bindKey: { win: 'Ctrl-S', mac: 'Command-S', sender: 'editor|cli' },
            exec: function(env, args, request) { form.submit(); }
          });
      </script>

    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
{% endblock %}
