{% extends "post/admin_base.html" %}

{% block body %}
<legend>
  <a href="{{p.url}}/workflow"><<</a>&nbsp;&nbsp;
  {{p.workflow.name}} <small class="text-muted">Edit Workflow</small>
</legend>

<!-- New Workflow Dialog -->
<form class="form-horizontal" method="post" id=form
    action="{{p.url}}/workflow/edit/{{p.workflow.id}}">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Config</a></li>
    <li><a data-toggle="tab" href="#menu1">Condition</a></li>
    <li><a data-toggle="tab" href="#menu2">Validate</a></li>
    <li><a data-toggle="tab" href="#menu3">Post Action</a></li>
  </ul>
  <br>

  <div class="tab-content">

    <div id="home" class="tab-pane fade in active">

      <div class="form-group">
        <label class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input class="form-control" type="text" name="name" placeholder="name"
            value="{{p.workflow.name}}" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Description</label>
        <div class="col-lg-10">
          <input class="form-control" type="text" name="description"
            placeholder="Description" value="{{p.workflow.description}}" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Status</label>
        <div class="col-lg-10">
          {{select_multi.render("status", "status", p.workflow.status, is_tags="true")}}
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-2 control-label">Screen</label>
        <div class="col-lg-10">
          <select id="screen" style="width:100%">
            {% for field in p.field_list %}
              <option value="{{field.id}}">{{field.id}} - {{field.name}}</option>
            {% endfor %}
          </select>
          <p>drag and drop to change the order of screens.</p>
          <ul id="screen_list" class="list-group"></ul>
          <script>
          $(document).ready(function() {
            $("#screen").select2({ placeholder: "select field to display" });

            $("#screen").on('select2:select', function (evt) {
              // Do something
              id = evt.params.data.id;
              text = evt.params.data.text;
              add_screen( id );
            });

            $( "#screen_list" ).sortable();
            $( "#screen_list" ).disableSelection();

          });
          </script>
          <script id="screen_item" type="text/html">
            <li class="list-group-item" id="$screen">
                <div class="container-fluid" >
                    <div class="row">
                        <div class="col-md-1">
                            <a href="javascript:remove_screen('$screen')"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-md-11">
                            $screen
                        </div>
                    </div>
                </div>
                <input type="checkbox" checked=1 style="display: none" name="screen" value="$screen">
            </li>
            </script>

            <script>
            String.prototype.replaceAll = function(search, replace) {
                if (replace === undefined) {
                    return this.toString();
                }
                return this.split(search).join(replace);
            }

            function add_screen(screen) {
                var screen_tpl = $("#screen_item").html()
                screen_tpl = screen_tpl.replaceAll("$screen", screen)

                var screen_list = document.getElementById('screen_list');
                screen_list.insertAdjacentHTML('beforeend', screen_tpl);
            }

            function remove_screen(screen) {
                $("#"+screen).remove()
            }

            // add screens
            {% for s in p.workflow.screen|getlist %}
                add_screen( "{{s}}" );
            {% endfor %}
            </script>

        </div>
      </div>



    </div>


    <div id="menu1" class="tab-pane fade in">
      <textarea name="condition" id="condition">
        {{-p.workflow.condition-}}
      </textarea>
      <div id="editorCondition" style="min-height: 400px"></div>
      <script>
        var editorCondition = ace.edit("editorCondition");
        editorCondition.setTheme("ace/theme/monokai");
        editorCondition.getSession().setMode("ace/mode/python");
        var condition = $('#condition').hide();
        editorCondition.getSession().setValue(condition.val());
        editorCondition.getSession().on('change', function(){
          condition.val(editorCondition.getSession().getValue());
        });
        editorCondition.commands.addCommand({
          name: 'saveFile',
          bindKey: { win: 'Ctrl-S', mac: 'Command-S', sender: 'editor|cli' },
          exec: function(env, args, request) { form.submit(); }
        });
      </script>
      <span class="help-block">Write a python code. Don't print anything if everythings good</span>

    </div>



    <div id="menu2" class="tab-pane fade in ">
      <textarea name="validation" id="validation">
          {{-p.workflow.validation-}}
      </textarea>
      <div id="editorValidation" style="min-height: 400px"></div>
      <script>
        var editorValidation = ace.edit("editorValidation");
        editorValidation.setTheme("ace/theme/monokai");
        editorValidation.getSession().setMode("ace/mode/python");
        var validation = $('#validation').hide();
        editorValidation.getSession().setValue(validation.val());
        editorValidation.getSession().on('change', function(){
          validation.val(editorValidation.getSession().getValue());
        });
        editorValidation.commands.addCommand({
          name: 'saveFile',
          bindKey: { win: 'Ctrl-S', mac: 'Command-S', sender: 'editor|cli' },
          exec: function(env, args, request) { form.submit(); }
        });
      </script>
    </div>


    <div id="menu3" class="tab-pane fade in">
      <textarea name="postaction" id="postaction">
          {{-p.workflow.postaction-}}
      </textarea>
      <div id="editorPostAction" style="min-height: 400px"></div>
      <script>
        var editorPostAction = ace.edit("editorPostAction");
        editorPostAction.setTheme("ace/theme/monokai");
        editorPostAction.getSession().setMode("ace/mode/python");
        var postaction = $('#postaction').hide();
        editorPostAction.getSession().setValue(postaction.val());
        editorPostAction.getSession().on('change', function(){
          postaction.val(editorPostAction.getSession().getValue());
        });
        editorPostAction.commands.addCommand({
          name: 'saveFile',
          bindKey: { win: 'Ctrl-S', mac: 'Command-S', sender: 'editor|cli' },
          exec: function(env, args, request) { form.submit(); }
        });
      </script>
    </div>

  </div>

  <br>
  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <button type="reset" class="btn btn-default" onclick="location='{{p.url}}/admin_workflow/workflow'">Cancel</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>

</form>

{% for w in p.workflowList %}
<!-- Delete Workflow Dialog -->
<form class="form-horizontal" action="delete" method="post">
  <input type="hidden" name="id" value="{{w.id}}" />
<div id="modal-del-workflow-{{w.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm Delete Workflow</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the workflow?</p>
        <p>Workflow: <strong>{{w.Name}}</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="submit" class="btn btn-warning">Delete Workflow</button>
      </div>
    </div>
  </div>
</div>
</form>
{% endfor %}

{% endblock %}
