{% extends "post/admin_base.html" %}

{% block body %}
<legend>
  <table width="100%">
    <tr>
      <td>Roles</td>
    </tr>
  </table>
</legend>
<table class="table table-striped table-hover table-responsive">
  <thead>
    <tr>
      <th></th>
      <th>Role Name</th>
      <th>Assigned Users</th>      
    </tr>
  </thead>
  <tbody>
    {% for r in p.role_list %}
    <tr>
      <td><a href="{{p.url}}/role/edit/{{r.id}}">#</a></td>
      <td><a href="{{p.url}}/role/edit/{{r.id}}">{{r.name}}</a></td>
      <td>
        {%- for user in r.users|getlist %}
          {{user}}{% if not loop.last %}, {% endif %}
        {% endfor -%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
