{% extends "post/admin_base.html" %}

{% block body %}

<!-- EDIT DASHBOARD -->
<div class="row">
  <div class="col-lg-3 col-md-3">
    <table class="table table-stripped table-hover">
      <tr>
        <th>Role</th>
      </tr>
      <tbody>
        {% for role in p.role_list %}
        <tr {% if role.id == p.role.id %} class="active" {% endif %}>
          <td>
            <a href="{{p.url}}/permission/{{role.id}}">{{role.name}}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <div class="col-lg-9 col-md-9">

    <form class="form-horizontal" method="post">

      <legend>Post Permission</legend>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Search</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='search/'
              {%- if 'search/' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Redirect</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='redirect/'
              {%- if 'redirect/' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">View</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='post/view'
              {%- if 'post/view' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Filter</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='filter/'
              {%- if 'filter/' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Download</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='file/'
              {%- if 'file/' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">View History</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='history/list'
              {%- if 'history/list' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">View History Detail</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='history/view'
              {%- if 'history/view' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Create</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='post/create'
              {%- if 'post/create' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Edit</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='post/edit'
              {%- if 'post/edit' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>


      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Delete</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='post/delete'
              {%- if 'post/delete' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Comment</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='comment/create'
              {%- if 'comment/create' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Comment - Edit</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='comment/edit'
              {%- if 'comment/edit' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Comment - Delete</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='comment/delete'
              {%- if 'comment/delete' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>


      <legend>Adminitration</legend>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">General</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='config/'
              {%- if 'config/' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Create Index</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='index/'
              {%- if 'index/' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">
          Cutomize Search Result</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='list_item/'
              {%- if 'list_item/' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Cutomize Layout</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='layout/'
              {%- if 'layout/' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>


      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">View Fields</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='field/default'
              {%- if 'field/default' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Edit Fields</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='field/edit'
              {%- if 'field/edit' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>



      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">View Mappings</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='mapping/default'
              {%- if 'mapping/default' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Edit Mappings</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='mapping/edit'
              {%- if 'mapping/edit' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>


      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Backup</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='backup/default'
              {%- if 'backup/default' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Backup Download</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='backup/download'
              {%- if 'backup/download' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Restore</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='backup/restore'
              {%- if 'backup/restore' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>


      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">View Roles</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='role/default'
              {%- if 'role/default' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Assign Roles</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='role/edit'
              {%- if 'role/edit' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>


      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">View Permission</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='permission/default'
              {%- if 'permission/default' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Change Permission</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='permission/edit'
              {%- if 'permission/edit' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>



      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">View Workflow</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='workflow/default'
              {%- if 'workflow/default' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Create Workflow</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='workflow/create'
              {%- if 'workflow/create' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Edit Workflow</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='workflow/edit'
              {%- if 'workflow/edit' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>

      <div class="form-group">
        <div class="col-lg-10 col-md-10 control-label">Delete Workflow</div>
        <label class="col-lg-2 col-md-2">
          <select name="operations">
            <option value=''>No</option>
            <option value='workflow/delete'
              {%- if 'workflow/delete' in p.permission.operations %}
                selected="1"
              {% endif -%}>Yes</option>
          </select>
        </label>
      </div>


      <div class="form-group">
        <div class="col-lg-4 col-md-4 col-lg-offset-8 col-md-offset-8">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </form>

  </div>
</div>
{% endblock %}
