<style>

  body {
    padding-top: 50px;
    padding-left: 210px;
  }

  .container {
    width: 100%;
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 210px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 50px;
    left: 0;
    background-color: #333; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  /* The navigation menu links */
  .sidenav a {
      padding: 8px 8px 8px 15px;
      text-decoration: none;
      font-size: 17px;
      color: #AAA;
      display: block;
      transition: 0.3s
  }

  a.small {
      padding: 4px 4px 4px 25px;
      font-size: 15px;
      /*color: #888;*/
      display: block;
      transition: 0.3s
  }

  a.active {
      color: orange;
      font-weight: bold;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover, .offcanvas a:focus{
      color: #f1f1f1;
  }

  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
  }

  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
      transition: margin-left .5s;
      padding: 20px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-width: 768px) {
      body {
        padding-left: 0;
      }

      .sidenav {
        width: 100%; /* 0 width - change this with JavaScript */
        position: relative; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0;
        left: 0;
        background-color: #333; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 0px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      }
  }
</style>


<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
          data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false" title="{{p.site.description}}">
              <b>{{p.site.display_name}}</b>
              <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {%- for site in p.site_list -%}
            <li {%- if site.id == p.site.id %} class="active" {% endif -%}
              ><a href="{%-if site.name-%}/{{site.name}}{%-endif-%}/">
              {{site.display_name}}</a></li>
            {%- endfor -%}
          </ul>
        </li>


      </ul>
    </div>


    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav navbar-right">
        {% set person = p.login|get(p.host, 'people', 'post') %}
        {% if person %}
          <li>
            <a href="/people/post/view/{{p.login}}" title="logout" class="active">
              {{person.title}}
              {% if person.photo %}
              &nbsp; <img src="/people/file/view/{{person.photo}}" width=20 height=20 />
              {% endif %}
            </a>
          </li>
        {% else %}
          <li><a href="/auth/logout" title="logout"><b>GUEST</b></a></li>
        {% endif %}
      </ul>

      {# Search All, or Search Here #}
      {% set action = '/search' %}
      {% set name = 'All' %}

      {# if current page is post module #}
      {% if p.navigation.module_id == '7' %}
        {% set action = p.url + '/search' %}
        {% set name = p.navigation.display_name %}
      {% endif %}

      <form class="navbar-form" role="search" id="search_form" action="{{action}}">

        <div class="input-group custom-search-form">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" data-toggle="dropdown">
              <span id="search_scope">Search {{name}}</span> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="javascript:$('#search_scope').html('Search All'); $('#search_form').attr('action', '/search');">Search All</a></li>
              <li><a href="javascript:$('#search_scope').html('Search {{name}}'); $('#search_form').attr('action', '{{action}}');">Search {{name}}</a></li>
            </ul>
          </span>

          <input type="text" class="form-control" id="q" name="q"
            value="{%- if p.q == "*" -%}{%- else -%}{{ p.q }}{%- endif -%}">

          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>

      </form>




      <div id="mySidenav" class="sidenav">
        {% for nav in p.nav_list %}

          {% if nav.children|length > 0 %}
            <a href="{{nav.url}}">{{nav.display_name}}</a>

            {%- for child in nav.children -%}
              <a
                class="small {% if p.navigation.id == child.id %}active{% endif %}"
                href="{%-if p.site.name-%}/{{p.site.name}}{%-endif-%}/{{child.name}}"
                {%- if nav.new_window == "1" %} target=_blank {% endif -%} >
                {{child.display_name}}</a>

            {%- endfor -%}


          {% else %}
            <a
              class="{% if p.navigation.id == nav.id %}active{% endif %}"
              href="{%-if p.site.name-%}/{{p.site.name}}{%-endif-%}/{{nav.name}}"
              {%- if nav.new_window == "1" %} target=_blank {% endif -%}>
              {{nav.display_name}}</a>
          {% endif %}

        {% endfor %}
      </div>

    </div><!--/.nav-collapse -->
  </div>
</nav>
