{
  "query": {
    "function_score": {
      "functions": [
        {"field_value_factor": {
          "field": "updated",
          "factor": 1.2,
          "missing": 1
        }}
      ],
      "boost_mode": "multiply",


      "filter": {
        "bool": {
          "should": [
            {# filters out ACL #}
            { "match" : { "acl_readonly" : "EVERYONE" } },
            { "match" : { "acl_readonly" : "{{p.login}}" } },
            { "match" : { "acl_edit" : "EVERYONE" } },
            { "match" : { "acl_edit" : "{{p.login}}" } },
            { "match" : { "created_by" : "{{p.login}}" } },
            { "missing" : { "field": "acl_readonly" } }
          ],
          "must": [
            {# filters out the results by given user selected filters #}
            {%- if p.selected_filter_list|length > 0 %}
              {%- for field_id, value in p.selected_filter_list.items() %}
            {
              "terms": { "{{- p.field_map[field_id] -}}": [
                {% for term in value %}
                  "{{term|strip}}" {% if not loop.last %}, {% endif %}
                {% endfor %}
                ]
              }
            }
                {%- if not loop.last %}, {% endif -%}
              {% endfor %}
            {% endif -%}

          ]
        }
      },

      "query": {
        "query_string": {
          "query": "{{ p.q }}",
          "default_operator": "AND",
          "fields" : [
          {% if p.fields %}
            {% for f in p.fields|split(",") %}
              "{{f}}"
              {% if not loop.last %},{% endif %}
            {% endfor %}
          {% else %}
            "id^1000",
            "title^100",
            "description",
            "title.folded",
            "_all"
          {% endif %}
          ]
        }
      }
    }
  },

  {% if p.sort_field -%}
  "sort": [{ "{{p.sort_field}}": "{{p.sort_dir}}" }],
  {%- endif %}

  "highlight": {
      "number_of_fragments" : 1,
      "fragment_size" : 300,
      "no_match_size": 300,
      "pre_tags" : ["<font color='red'>"],
      "post_tags" : ["</font>"],
      "fields" : {
        "*": {"type":"plain"}
      }
  },

  {% if p.field_list|length > 0 %}
  "aggs" : {
    {% for field in p.field_list if field.is_filter == "1" %}
    "{{field.id}}":{
        "terms": {
        "field": "{{- p.field_map[field.id] -}}",
        "size": 1
      }
    } {% if not loop.last %}, {% endif %}
    {%endfor%}
  }, {% endif %}

  "suggest" : {
      "didyoumean" : {
          "text" : "{{p.q}}",
          "term" : { "field" : "_all" }
      }
  },

  {% if p.source_exclude %}
  "_source" : {
    "exclude": [{{p.source_exclude}}]
  },
  {% endif %}

  "from": "{{p.from}}",
  "size": "{{p.size}}"
}
